/**
 * <= 960px
 * ----------------------------------------------------------------------------
*/
@media only screen and (max-width: 960px){
    html{
        font-size: 14px;
    }
    /* left and rigth site paddings and margins */
    .col-full{
        .woocommerce-breadcrumb{
            padding-left: $mob-span;
            padding-right: $mob-span;
        }
    }
    .site-header, .site-footer{
        .col-full{
            padding-left: $mob-span;
            padding-right: $mob-span;
        }
    }
    body{
        &.page-template-template-inner{
            .col-full{
                padding-left: $mob-span;
                padding-right: $mob-span;
            }
        }
    }

    .site-header{
        .col-full.adshop-top-banner-block {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .questions-head-block,
    .faq-item,
    .adshop-filter-shortcode,
    .products-caption,
    .filter-caption,
    .adshop-optional-block
    {
        margin-left: $mob-span;
        margin-right: $mob-span;
    }

    .adshop-contact-form{
        padding-left: $mob-span;
        padding-right: $mob-span;
    }
}