/**
 * <= 1140px
 * ----------------------------------------------------------------------------
 */
@media only screen and (max-width: 1140px) {

  /* homepage */
  body {
    &.home {
      h2.box {
        padding: 1rem 2rem 1rem;
        font-size: 3rem;
        line-height: 3rem;
      }

      .caption-h2 {
        font-size: 2rem;
        line-height: 2rem;
        padding: 2rem;
        margin: 0;
      }

      .faq-item {
        h2 {
          padding: 0;
          padding-left: 1rem;
          background: linear-gradient(to right, #3f7eb3 0, #fff 95%);
          font-size: 3rem;
          line-height: 3rem;

          &.box {
            text-align: left;
            margin-right: 0;
          }
        }
      }

      ul.products {
        padding: 1rem;
        margin: 0;
        flex-wrap: wrap;

        li.product.product-category {
          width: 23.7%;
          margin: 0.5rem;

          img {
            max-width: 260px;
            margin-bottom: .1rem;
          }
        }

        li.product {
          margin: .5rem;

          .woocommerce-loop-category__title {
            border-radius: .5rem;
            margin-top: .3rem;
            font-weight: 400;
            padding: .3rem;
          }
        }
      }

      .questions-head-block {
        margin: 1rem;
        padding: 1rem 0;

        .wp-block-group__inner-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            width: 100%;
            margin: 0;
            border: 0;
            padding: 1rem;
            font-size: 3rem;
            line-height: 3rem;

            strong {
              font-size: 3rem;
              line-height: 3rem;
            }
          }

          .wp-block-image {
            position: relative;
          }
        }

        .dlg-question-im {

          img {
            max-width: 260px;
          }
        }
      }

    }
  }

  .caption-h3 {
    &.with-arrows {
      width: 90%;
      margin: 0;
    }
  }

  .adshop-top-banner-block {

    padding-top: 2rem;
    padding-bottom: 2rem;

    .caption-h1 {
      margin: 0 2rem;
    }
  }

  ul.products {
    padding: 0;

    li.product {
      &.type-product {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: .5rem 0rem;

        .adshop-product-properties {
          width: 100%;
        }

        .adshop-product-property {
          margin-bottom: .75rem;

          .property-name,
          .property-value {
            display: flex;
            align-items: center;
          }
        }
      }

      img {
        margin-bottom: 0;
      }
    }
  }

  .site-main {
    .adshop-wc-categoties-block {
      ul.products {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        margin: 0;

        li {
          &.product {
            margin: .5rem;

            a {
              img {
                margin-bottom: .5rem;
              }
            }
          }
        }
      }

      &.root-categories {

        // 4 in row
        ul.products {
          li {
            &.product.product-category {
              width: 23.7%;
              margin: .5rem;
            }
          }
        }
      }
    }
  }

  /* links */
  a {
    &.button {
      &.adshop-with-red-arrow {
        width: 90%;

        &:after {
          right: -24px;
        }
      }
    }
  }

  /* filter */
  .adshop-filter-shortcode {
    margin: 1rem;
    padding: 1rem;
    border: 0;

    .ta-c {
      display: flex;
      justify-content: space-between;

      .adsh-darkgrey-btn {
        padding: .8rem 1.4rem;
        margin-top: 1rem;
      }
    }

  }

  .adshop-filter-row {
    flex-direction: column;

    .adsh-col-1-2 {
      margin-bottom: 1rem;
      width: 100%;
    }
  }


  .adshop-optional-block {
    margin: 1rem;
    padding: 1rem;

    .adsh-row {
      flex-direction: column;

      .adsh-col-1-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%;
      }
    }

    .right-side {
      &.with-vert-sep {
        border-left: 0;
        margin-left: 0;

        &:after {
          display: none;
        }
      }
    }
  }



  /* for shop product page */
  body.single-product {
    .product {
      padding: 2rem 0;
    }

    .adshop-product-header {
      .info-list {
        padding: 1rem;

        .info-item {
          .info {
            p {
              &.caption {
                font-size: 1.4rem;
                line-height: 1.4rem;
              }

              &.name {
                font-size: 1.4rem;
                line-height: 1.4rem;
              }
            }
          }
        }
      }
    }
  }


  /* svg editing section
  * version 2
  */
  .adshop-template-section {

    &.version-2-0 {
      padding: 1rem;


      .adsh-editsvg-form {
        margin: 0;
        flex-direction: column-reverse;

        .left-side,
        .right-side {
          width: 100%;
        }

        .left-side {
          margin-top: 2rem;
        }

      }

      .adsh-tpl-btn {
        margin-bottom: .5rem;
      }

      .adsh-tpl-url-input,
      .adsh-edit-textarea {
        margin-bottom: 1rem;
      }
    }
  }

  .single_add_to_cart_button {
    width: 90%;
  }

  .storefront-full-width-content {
    &.single-product {
      div.product .summary {
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 1rem;
      }
    }
  }

  .single-product {
    div.product {
      form.cart {
        padding: 0;
        margin: 0;
      }
    }
  }


}