/**
 * <= 540
 * ----------------------------------------------------------------------------
*/
@media only screen and (max-width: 540px) {

  /* homepage */
  body {
    &.home {
      
      ul.products {
        padding: 0;
        li.product.product-category {
          img {
            max-width: 120px;
          }
        }

      }

    }
  }

  .site-header {
    .custom-logo-link {
      img {
        width: 50%;
      }
    }
  }


}