/**
 * <= 768px
 * ----------------------------------------------------------------------------
 */
@media only screen and (max-width: 768px) {


  /* homepage */
  body {
    &.home {
      ul.products {

        li.product.product-category {
          img {
            max-width: 200px;
          }
        }

        li.product {

          .woocommerce-loop-category__title {
            border-radius: .5rem;
            margin-top: .3rem;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 400;
            padding: .3rem;
          }
        }
      }

    }
  }

  .site-header {
    .custom-logo-link {
      img {
        width: 75%;
      }
    }
  }

  .adshop-top-banner-block {
    .caption-h1 {
      position: static;
      font-size: 2rem;
      line-height: 4rem;
    }
  }

  .d-flex.va-bm {
    align-items: center;
  }

  /**
    * Content
     */
  .questions-head-block {
    .dlg-question-im {

      img {
        width: 50%;
      }
    }
  }

  /**
    * Shop
     */
  .site-main .adshop-wc-categoties-block.root-categories ul.products li.product {
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 4rem;
  }

  /**
    * Footer
     */
  .site-footer {
    .d-flex {
      display: block;
    }

    .adsh-col-1-3 {
      width: 100%;
      text-align: center;
    }

  }


  .adshop-top-banner-block {

    padding-top: 1rem;
    padding-bottom: 1rem;

    .caption-h1 {
      font-size: 1.5rem;
      line-height: 3rem;
      margin: 0 1rem;
    }
  }


  .caption-h3 {
    &.with-arrows {
      width: 100%;
      font-size: 1.14rem;
      line-height: 1.5rem;
      justify-content: start;
      margin-left: 0;
      padding-left: 8px;
      height: 75px;
    }
  }


  /* global products list redefines  */
  ul.products {

    li.product {

      .woocommerce-loop-category__title {
        border-radius: .5rem;
        margin-top: .3rem;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
        padding: .3rem;
      }

      &.type-product {

        .adshop-product-property {
          font-size: 1rem;
          line-height: 1rem;

          .property-value {
            font-size: 1rem;
          }
        }
      }
    }
  }


  /* links */
  a {
    &.button {
      &.adshop-with-red-arrow {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 700;
        width: 100%;

        &:after {
          right: -12px;
        }
      }
    }
  }



  /* filter */
  .adshop-filter-shortcode {
    .ta-c {

      .adsh-darkgrey-btn {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
      }
    }
  }



  /* for shop product page */
  body.single-product {
    .product {
      padding: .5rem 0rem;
    }

    .adshop-product-header {
      .info-list {
        padding: .5rem 0rem;
        justify-content: space-around;

        .info-item {

          .info {

            p {
              margin-bottom: 0;

              &.caption {
                font-size: 1.2rem;
                line-height: 1.2rem;
              }

              &.name {
                font-size: 1.2rem;
                line-height: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

}