/* blocks
* common for front and guttenberg editor
*/
.adshop-optional-block{
    margin: 2.5rem 7.5rem;
    padding: 5rem 5rem;
    border: 1px solid #d5d4d2;
    color: $grey-4;
    .caption-h4{
        font-size: 1.87rem;
        line-height: 2rem;
        font-weight: 600;
        text-transform: none;
        color: $grey-4;
        margin-bottom: 1.4rem;
    }
    .body-text{
        font-size: 1.25rem;
        line-height: 1.65rem;
        font-weight: 300;
    }
    .adsh-darkgrey-btn{
        margin-top: 2rem;
        &.with-arrow{
            padding-right: 7.5rem;
        }
    }
    .left-side{
    }
    .right-side{
        position: relative;
        &.with-vert-sep{
            border-left: 1px solid $grey-1;
            //border-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(90,85,80,1) 23%, rgba(90,85,80,1) 81%, rgba(255,255,255,0) 100%);
            margin-left: 3.8rem;
            &:after{
                content: '';
                display: block;
                width: 3.8rem;
                height: 3.8rem;
                border-radius: 50%;
                border: 3px solid $grey-1;
                background-color: #fff;
                position: absolute;
                left: -2.1rem;
                top: 50%;
                margin-top: -1.9rem;
            }
        }
        text-align: center;
        a{
            display: inline-flex;
        }
    }
    button{
        text-align: center;
    }
}
.note-block{
    font-size: 1.37rem;
    line-height: 1.47rem;
    text-align: center;
    background-color: #faedf6;
    border: 1px dashed $blue-1;
    border-radius: 8px;
    padding: .5rem;
    margin-top: 2rem;
    .caption-h5{
        font-size: 1.37rem;
        line-height: 1.47rem;
        font-weight: 700;
        text-transform: none;
        color: $blue-2;
        display: block;
        margin-bottom: .3rem;
    }
    p{
        margin: 0;
    }
}

