/* main
 * common for front and guttenberg editor
 */
.adsh-darkgrey-btn {
    background-color: $grey-1;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.35rem;
    border-radius: 8px;
    padding: .9rem 2rem;
    margin-top: 3.5rem;
    position: relative;

    &.with-arrow {
        padding-right: 70px;

        &:after {
            display: block;
            content: '';
            width: 35px;
            height: 26px;
            background: url("../images/ic-dbl-arr-small.svg") center no-repeat transparent;
            position: absolute;
            right: 1rem;
            top: 50%;
            margin-top: -13px;
        }

    }
}

.questions-head-block {
    background-color: $blue-1;
    padding-top: 5.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    margin: 9rem $g-span;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(111, 158, 198, 1) 0%, rgba(89, 156, 207, 1) 13%);

    h2,
    .caption-h2 {
        color: #fff;
        display: inline-block;
        font-size: 4.375rem;
        line-height: 5.5rem;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 7px solid #fff;
        margin-left: $g-span;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 1rem;
        position: relative;
        z-index: 1;

        strong {
            display: block;
            font-size: 3.7rem;
            font-weight: 400;
        }
    }

    .dlg-question-im {
        display: flex;
        justify-content: center;
        opacity: .8;
        position: absolute;
        z-index: 0;
        right: 1.5rem;
        bottom: -2rem;

        img {
            width: 100%;
        }
    }
}

.faq-item {
    margin: 0 $g-span 5rem;

    h2,
    .caption-h2 {
        font-size: 3.7rem;
        line-height: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        background: linear-gradient(to right, rgba(63, 126, 179, 1) 0%, rgba(255, 255, 255, 1) 50%);
        padding: 0.3rem $g-span;
        color: #fff;
    }

    p {
        font-size: 1.87em;
        line-height: 3rem;
        font-weight: 300;
        padding-left: 9%;
    }
}

h2,
.caption-h2 {
    &.box {
        color: #fff;
        background-color: $blue-2;
        font-size: 4.18rem;
        line-height: 4.2rem;
        font-weight: 400;
        padding: 1rem 6.25rem 1.2rem 1rem;
        border-top-right-radius: 3.75rem;
        text-align: right;
        margin-right: 20%;
    }
}

.caption-h3 {
    margin-top: 0;

    &.with-arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.14rem;
        line-height: 2.5rem;
        font-weight: 800;
        background-color: $blue-3;
        color: $blue;
        width: 55%;
        text-align: right;
        position: relative;
        height: 125px;
        margin-bottom: 0;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: url("../images/ic-dbl-arr.svg") right no-repeat transparent;
            position: absolute;
            right: -50px;
            top: 0;
        }
    }
}

h3{
    &.blue-gt-bg{
        background: $gt-blue;
        border-radius: 6px;
        font-size: 1.25rem;
        line-height: 1.45rem;
        color: #fff;
        padding: .8rem 1rem;
        font-weight: 600;
        text-align: center;
    }
}