/* redefines
* for guttenberg editor only
*/

.questions-head-block, .faq-item{
    h2, .caption-h2{
        color: #fff !important;
    }
}
.faq-item{
    h2, .caption-h2{
        font-weight: 300 !important;
    }
}