/* guttenberg styles */
/* ! Don t edit this styles directly! */
/* ! This is gulp generated styles. */
/* ! To change them edit the source _scss files in /src folder and then run gulp compiler */
/* vars */
/* redefines
* for guttenberg editor only
*/
.questions-head-block h2, .questions-head-block .caption-h2, .faq-item h2, .faq-item .caption-h2 {
  color: #fff !important; }

.faq-item h2, .faq-item .caption-h2 {
  font-weight: 300 !important; }

/* main
 * common for front and guttenberg editor
 */
.adsh-darkgrey-btn {
  background-color: #5A5550;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.35rem;
  border-radius: 8px;
  padding: .9rem 2rem;
  margin-top: 3.5rem;
  position: relative; }
  .adsh-darkgrey-btn.with-arrow {
    padding-right: 70px; }
    .adsh-darkgrey-btn.with-arrow:after {
      display: block;
      content: '';
      width: 35px;
      height: 26px;
      background: url("../images/ic-dbl-arr-small.svg") center no-repeat transparent;
      position: absolute;
      right: 1rem;
      top: 50%;
      margin-top: -13px; }

.questions-head-block {
  background-color: #6296C0;
  padding-top: 5.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  margin: 9rem 7.5rem;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#6f9ec6), color-stop(13%, #599ccf));
  background: -o-linear-gradient(left, #6f9ec6 0%, #599ccf 13%);
  background: linear-gradient(to right, #6f9ec6 0%, #599ccf 13%); }
  .questions-head-block h2,
  .questions-head-block .caption-h2 {
    color: #fff;
    display: inline-block;
    font-size: 4.375rem;
    line-height: 5.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 7px solid #fff;
    margin-left: 7.5rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1; }
    .questions-head-block h2 strong,
    .questions-head-block .caption-h2 strong {
      display: block;
      font-size: 3.7rem;
      font-weight: 400; }
  .questions-head-block .dlg-question-im {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .8;
    position: absolute;
    z-index: 0;
    right: 1.5rem;
    bottom: -2rem; }
    .questions-head-block .dlg-question-im img {
      width: 100%; }

.faq-item {
  margin: 0 7.5rem 5rem; }
  .faq-item h2,
  .faq-item .caption-h2 {
    font-size: 3.7rem;
    line-height: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(#3f7eb3), color-stop(50%, white));
    background: -o-linear-gradient(left, #3f7eb3 0%, white 50%);
    background: linear-gradient(to right, #3f7eb3 0%, white 50%);
    padding: 0.3rem 7.5rem;
    color: #fff; }
  .faq-item p {
    font-size: 1.87em;
    line-height: 3rem;
    font-weight: 300;
    padding-left: 9%; }

h2.box,
.caption-h2.box {
  color: #fff;
  background-color: #407FB3;
  font-size: 4.18rem;
  line-height: 4.2rem;
  font-weight: 400;
  padding: 1rem 6.25rem 1.2rem 1rem;
  border-top-right-radius: 3.75rem;
  text-align: right;
  margin-right: 20%; }

.caption-h3 {
  margin-top: 0; }
  .caption-h3.with-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.14rem;
    line-height: 2.5rem;
    font-weight: 800;
    background-color: #EBF2F7;
    color: #005499;
    width: 55%;
    text-align: right;
    position: relative;
    height: 125px;
    margin-bottom: 0; }
    .caption-h3.with-arrows:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/ic-dbl-arr.svg") right no-repeat transparent;
      position: absolute;
      right: -50px;
      top: 0; }

h3.blue-gt-bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #4f89b9), color-stop(60%, #544d9a));
  background: -o-linear-gradient(left, #4f89b9 35%, #544d9a 60%);
  background: linear-gradient(90deg, #4f89b9 35%, #544d9a 60%);
  border-radius: 6px;
  font-size: 1.25rem;
  line-height: 1.45rem;
  color: #fff;
  padding: .8rem 1rem;
  font-weight: 600;
  text-align: center; }

/* blocks
* common for front and guttenberg editor
*/
.adshop-optional-block {
  margin: 2.5rem 7.5rem;
  padding: 5rem 5rem;
  border: 1px solid #d5d4d2;
  color: #837f7c; }
  .adshop-optional-block .caption-h4 {
    font-size: 1.87rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: none;
    color: #837f7c;
    margin-bottom: 1.4rem; }
  .adshop-optional-block .body-text {
    font-size: 1.25rem;
    line-height: 1.65rem;
    font-weight: 300; }
  .adshop-optional-block .adsh-darkgrey-btn {
    margin-top: 2rem; }
    .adshop-optional-block .adsh-darkgrey-btn.with-arrow {
      padding-right: 7.5rem; }
  .adshop-optional-block .right-side {
    position: relative;
    text-align: center; }
    .adshop-optional-block .right-side.with-vert-sep {
      border-left: 1px solid #5A5550;
      margin-left: 3.8rem; }
      .adshop-optional-block .right-side.with-vert-sep:after {
        content: '';
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
        border: 3px solid #5A5550;
        background-color: #fff;
        position: absolute;
        left: -2.1rem;
        top: 50%;
        margin-top: -1.9rem; }
    .adshop-optional-block .right-side a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .adshop-optional-block button {
    text-align: center; }

.note-block {
  font-size: 1.37rem;
  line-height: 1.47rem;
  text-align: center;
  background-color: #faedf6;
  border: 1px dashed #6296C0;
  border-radius: 8px;
  padding: .5rem;
  margin-top: 2rem; }
  .note-block .caption-h5 {
    font-size: 1.37rem;
    line-height: 1.47rem;
    font-weight: 700;
    text-transform: none;
    color: #407FB3;
    display: block;
    margin-bottom: .3rem; }
  .note-block p {
    margin: 0; }
