@charset "UTF-8";
/* ! Don t edit this styles directly! */
/* ! This is gulp generated styles. */
/* ! To change them edit the source _scss files in /src folder and then run gulp compiler */
/* vars */
/* mixins */
/* resets */
/* helpers */
.h-from-w {
  position: relative; }
  .h-from-w:before {
    content: "";
    display: block;
    width: 100%; }
  .h-from-w.ratio-16x9 {
    padding-top: 56.25%;
    /* (9:16)*100% */ }
  .h-from-w.ratio-4x3 {
    padding-top: 75%; }
  .h-from-w.ratio-2x1 {
    padding-top: 50%; }
  .h-from-w.ratio-1x1 {
    padding-top: 100%; }
  .h-from-w > .ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
    .h-from-w > .ratio-content img {
      width: auto;
      height: 100%; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .d-flex.jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .d-flex.va-mid {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .d-flex.va-bm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.disabled, select:disabled {
  pointer-events: none;
  opacity: .7; }

.adsh-col-1-2 {
  width: 50%; }

.adsh-col-1-3 {
  width: 33%; }

.adsh-col-1-4 {
  width: 25%; }

.adsh-col-3-4 {
  width: 75%; }

.adsh-col-1-5 {
  width: 20%; }

.adsh-col-2-5 {
  width: 40%; }

.adsh-col-3-5 {
  width: 60%; }

.adsh-col-4-5 {
  width: 80%; }

.mr-0 {
  margin: 0; }

.pd-0 {
  padding: 0; }

.ls-n {
  list-style: none; }

.cfx:after {
  content: '';
  clear: both;
  display: block;
  float: none; }

/* main */
html {
  font-size: 16px;
  line-height: 18px; }

body {
  color: #5A5550;
  min-width: 280px; }

h1,
h2,
h3,
h4,
h5 {
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  text-transform: uppercase; }

.caption-h1 {
  font-size: 3rem;
  line-height: 6rem;
  font-weight: 400;
  color: #5A5550;
  margin-bottom: 1.7rem;
  text-align: right; }
  .caption-h1 strong {
    display: block;
    font-size: 2em;
    font-weight: 800;
    color: #005499; }

h2 {
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: 800;
  color: #005499;
  margin: 2.5rem 0; }

.hentry .entry-content a {
  text-decoration: none; }

hr {
  background-color: #fff;
  color: #fff;
  border: 0 none;
  height: 2rem;
  margin: 0; }

/* homepage */
body.home h2 {
  padding-left: 7.5rem;
  padding-right: 7.5rem; }

body.home .caption-h2 {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 3.125rem;
  color: #005499;
  text-transform: uppercase; }
  body.home .caption-h2.box {
    color: #fff;
    font-size: 4.18rem;
    line-height: 4.2rem;
    font-weight: 400; }

body.home .products {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #F3F1EC;
  padding: 8.75rem 7.5rem 1rem; }
  body.home .products li.product.product-category img {
    max-width: 320px;
    width: 100%; }

/* layout */
.col-full {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .col-full .woocommerce-breadcrumb {
    padding-left: 7.5rem;
    padding-right: 7.5rem; }

.site-header .col-full, .site-footer .col-full {
  padding-left: 7.5rem;
  padding-right: 7.5rem; }

body.page-template-template-inner .col-full {
  padding-left: 7.5rem;
  padding-right: 7.5rem; }

@media (max-width: 66.49894em) {
  .col-full {
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 568px) {
  .col-full {
    margin-left: 0;
    margin-right: 0; } }

/* links */
a {
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear; }
  a:hover, a:focus, a:active, a:visited {
    outline: 0 none; }
  a.button.adshop-with-red-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #5A5550;
    background-color: #d2d7db;
    width: calc(100% - 26px); }
    a.button.adshop-with-red-arrow:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      background: url("../images/ic-dbl-red-arr.svg") right no-repeat transparent;
      position: absolute;
      right: -26px;
      top: 0; }
    a.button.adshop-with-red-arrow:hover {
      color: #d2d7db;
      background-color: #5A5550; }

input:hover, input:focus, input:active {
  outline: 0 none; }

/* blocks */
/* header */
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
  padding: .3rem 1rem; }

.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {
  margin-bottom: 0; }

.site-header {
  border: 0 none; }

.woocommerce-active .site-header {
  padding-top: 1rem;
  padding-bottom: 0;
  /*
        * Navigation
         */
  /*
        * Shop cart
         */
  /*
        * Search
         */ }
  .woocommerce-active .site-header .site-branding {
    max-width: 148px;
    min-width: 80px;
    margin: 0; }
  .woocommerce-active .site-header .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    width: auto; }
  .woocommerce-active .site-header .primary-navigation, .woocommerce-active .site-header .mobile-navigation, .woocommerce-active .site-header input.search-field {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 300; }
  .woocommerce-active .site-header .primary-navigation, .woocommerce-active .site-header .mobile-navigation {
    text-transform: uppercase; }
    .woocommerce-active .site-header .primary-navigation a, .woocommerce-active .site-header .mobile-navigation a {
      color: #5A5550; }
      .woocommerce-active .site-header .primary-navigation a:hover, .woocommerce-active .site-header .mobile-navigation a:hover {
        color: #005499; }
    .woocommerce-active .site-header .primary-navigation li.menu-item-account a, .woocommerce-active .site-header .mobile-navigation li.menu-item-account a {
      background-color: #005499;
      border-radius: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      color: #fff; }
      .woocommerce-active .site-header .primary-navigation li.menu-item-account a:hover, .woocommerce-active .site-header .mobile-navigation li.menu-item-account a:hover {
        background-color: #5A5550; }
    .woocommerce-active .site-header .primary-navigation li.current-menu-item a, .woocommerce-active .site-header .mobile-navigation li.current-menu-item a {
      color: #005499; }
  .woocommerce-active .site-header .primary-navigation .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .woocommerce-active .site-header .mobile-navigation {
    margin-top: 1rem;
    line-height: 3rem; }
    .woocommerce-active .site-header .mobile-navigation.toggled .handheld-navigation {
      max-height: 9999px; }
  .woocommerce-active .site-header .site-header-cart {
    width: auto;
    margin-right: 1.5rem; }
    .woocommerce-active .site-header .site-header-cart .cart-contents {
      position: relative;
      border: 1px solid #5A5550;
      border-radius: 50%;
      padding: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center; }
      .woocommerce-active .site-header .site-header-cart .cart-contents .cart-icon {
        font-size: 1.3em;
        margin-left: -2px;
        color: #5A5550; }
      .woocommerce-active .site-header .site-header-cart .cart-contents .count {
        background-color: red;
        color: #fff;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        line-height: 1.2em;
        position: absolute;
        right: 0;
        top: -.5em;
        opacity: 1; }
      .woocommerce-active .site-header .site-header-cart .cart-contents:after {
        display: none; }
    .woocommerce-active .site-header .site-header-cart:hover .widget_shopping_cart {
      left: -18rem; }
    .woocommerce-active .site-header .site-header-cart .widget_shopping_cart {
      min-width: 20rem; }
  .woocommerce-active .site-header .site-search {
    margin: 0; }
    .woocommerce-active .site-header .site-search .widget_product_search form {
      position: relative; }
      .woocommerce-active .site-header .site-search .widget_product_search form:before {
        content: ''; }
      .woocommerce-active .site-header .site-search .widget_product_search form:after {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        vertical-align: baseline;
        content: "";
        position: absolute;
        top: 1em;
        right: 1em;
        line-height: 1; }
    .woocommerce-active .site-header .site-search input.search-field {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #5A5550;
      border-radius: 1rem;
      background-color: #fff;
      padding: .3rem 2rem .3rem 1rem !important; }

/* header banner */
.adshop-top-banner-block {
  background-color: #F3F1EC;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  position: relative; }
  .adshop-top-banner-block.with-post-thumbnail {
    margin-top: 2rem;
    padding: 0; }
    .adshop-top-banner-block.with-post-thumbnail .caption-h1 {
      position: absolute;
      z-index: 1;
      right: 2.7rem;
      bottom: 30%;
      color: #005499;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 1rem 2rem;
      border-radius: 4px; }
  .adshop-top-banner-block figure {
    position: relative;
    z-index: 0; }
  .adshop-top-banner-block .figured-element {
    position: absolute;
    bottom: -1px; }

.adshop-top-line {
  height: 2rem; }
  .adshop-top-line.white {
    background-color: #fff; }
  .adshop-top-line.grey {
    background-color: #F3F1EC; }

/* for shop pages and elements */
/* categories pages */
body.tax-product_cat .content-area {
  margin-bottom: 0; }

.woocommerce-products-header {
  display: none; }

.products-caption,
.filter-caption {
  margin-left: 7.5rem;
  margin-right: 7.5rem; }

/* global products list redefines  */
.storefront-full-width-content .site-main ul.products.columns-4 li.product {
  margin: .5rem; }

ul.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 7.5rem; }
  ul.products li.product {
    margin: 0; }
    ul.products li.product.first {
      clear: none; }
    ul.products li.product .woocommerce-loop-category__title {
      background-color: #6296C0;
      color: #fff;
      border-radius: 1rem;
      font-weight: 700;
      margin-top: 1rem;
      text-transform: none;
      font-size: 1rem;
      line-height: 1rem;
      padding: .8rem; }
    ul.products li.product:hover img,
    ul.products li.product .active img {
      outline: 2px solid #005499; }
    ul.products li.product:hover .woocommerce-loop-category__title,
    ul.products li.product .active .woocommerce-loop-category__title {
      background-color: #005499; }
    ul.products li.product.type-product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #EBF2F7;
      width: 100% !important;
      clear: both;
      float: none !important;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 2.5rem 1.5rem; }
      ul.products li.product.type-product:first-child {
        margin-top: 2.5rem; }
      ul.products li.product.type-product:last-child {
        margin-bottom: 0; }
      ul.products li.product.type-product .left-side,
      ul.products li.product.type-product .right-side {
        padding-left: 1rem;
        padding-right: 1rem; }
      ul.products li.product.type-product .left-side {
        width: 45%; }
      ul.products li.product.type-product .right-side {
        width: 55%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      ul.products li.product.type-product .adshop-product-properties {
        width: 60%; }
      ul.products li.product.type-product .adshop-product-property {
        text-transform: uppercase;
        border: 1px solid #d2d7db;
        font-size: 1.25rem;
        line-height: 1.45rem;
        padding: .75rem 1.5rem;
        background-color: #fff;
        margin-bottom: 4.3rem;
        text-align: left;
        color: #83807b;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        ul.products li.product.type-product .adshop-product-property .property-name,
        ul.products li.product.type-product .adshop-product-property .property-value {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        ul.products li.product.type-product .adshop-product-property .property-value {
          text-align: right;
          font-size: 1.25em;
          font-weight: 700; }
        ul.products li.product.type-product .adshop-product-property.price .property-value {
          color: #e14141; }

/* categoties list on shop page */
.site-main .adshop-wc-categoties-block ul.products {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #F3F1EC;
  padding: 7.5rem 7.5rem; }
  .site-main .adshop-wc-categoties-block ul.products li.product.last {
    margin: 1% !important; }
  .site-main .adshop-wc-categoties-block ul.products li.product a {
    text-decoration: none; }
    .site-main .adshop-wc-categoties-block ul.products li.product a img {
      width: 100%;
      max-width: 320px; }
  .site-main .adshop-wc-categoties-block ul.products.adshop-categoties-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 2.5rem; }
    .site-main .adshop-wc-categoties-block ul.products.adshop-categoties-list li.product.product-category {
      width: 23.7%;
      margin: .5rem; }
      .site-main .adshop-wc-categoties-block ul.products.adshop-categoties-list li.product.product-category:hover img,
      .site-main .adshop-wc-categoties-block ul.products.adshop-categoties-list li.product.product-category .active img {
        outline: 2px dashed #5A5550; }
      .site-main .adshop-wc-categoties-block ul.products.adshop-categoties-list li.product.product-category:hover .woocommerce-loop-category__title,
      .site-main .adshop-wc-categoties-block ul.products.adshop-categoties-list li.product.product-category .active .woocommerce-loop-category__title {
        background-color: #5A5550; }

.site-main .adshop-wc-categoties-block.root-categories {
  margin-bottom: 2.5rem; }
  .site-main .adshop-wc-categoties-block.root-categories ul.products li.product.product-category {
    width: 10.7%;
    margin: .5rem; }
    .site-main .adshop-wc-categoties-block.root-categories ul.products li.product.product-category:hover img,
    .site-main .adshop-wc-categoties-block.root-categories ul.products li.product.product-category .active img {
      outline: 2px dashed #5A5550; }
    .site-main .adshop-wc-categoties-block.root-categories ul.products li.product.product-category:hover .woocommerce-loop-category__title,
    .site-main .adshop-wc-categoties-block.root-categories ul.products li.product.product-category .active .woocommerce-loop-category__title {
      background-color: #5A5550; }

.site-main .adshop-wc-categoties-block.category-root {
  display: none; }

/* filter */
.adshop-filter-shortcode {
  margin: 2.5rem 7.5rem;
  padding: 5rem 5rem;
  border: 1px solid #d5d4d2; }
  .adshop-filter-shortcode #add-adshop-filter-row {
    display: none; }
  .adshop-filter-shortcode #adshop-filter-form {
    margin-bottom: 0; }

/* for shop product page */
body.single-product .product {
  padding: 2rem 7.5rem; }

body.single-product .adshop-product-header .info-list {
  background-color: #F3F1EC;
  padding: 7.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  body.single-product .adshop-product-header .info-list .info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body.single-product .adshop-product-header .info-list .info-item .preview {
      width: 31%;
      margin-right: 5%;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      border: 2px dashed #5A5550; }
      body.single-product .adshop-product-header .info-list .info-item .preview img {
        width: 100%;
        height: auto; }
    body.single-product .adshop-product-header .info-list .info-item .info {
      width: 67%; }
      body.single-product .adshop-product-header .info-list .info-item .info p {
        margin-bottom: 0; }
        body.single-product .adshop-product-header .info-list .info-item .info p.caption {
          font-size: 2.18rem;
          line-height: 2.3rem;
          text-transform: uppercase; }
        body.single-product .adshop-product-header .info-list .info-item .info p.name {
          font-size: 1.77rem;
          line-height: 2rem;
          font-weight: 300;
          color: #6296C0;
          max-width: 290px; }

.adshop-template-section {
  background-color: #EBF2F7;
  padding: 2.75rem; }
  .adshop-template-section svg {
    background-color: #fff; }

.storefront-full-width-content.single-product div.product .summary {
  margin-top: 2rem;
  margin-bottom: 0; }

.single-product div.product p.price {
  margin: 0; }

.summary {
  background-color: #EBF2F7;
  padding: 2.75rem; }

.adshop-purchasing-info-block {
  background-color: #EBF2F7;
  margin-top: 2rem; }
  .adshop-purchasing-info-block .adshop-block-content {
    background-color: #fff;
    border: 2px dashed #5A5550;
    padding: 1rem 2.75rem; }
  .adshop-purchasing-info-block .caption-h4 {
    font-size: 1.87rem;
    line-height: 2rem;
    color: #5A5550;
    text-transform: none;
    font-weight: 600; }
  .adshop-purchasing-info-block .caption-h5 {
    font-size: 1.56rem;
    line-height: 1.76rem;
    color: #e14141;
    text-transform: none;
    font-weight: 400; }
  .adshop-purchasing-info-block p {
    font-size: 1.25rem;
    line-height: 1.45rem;
    color: #5A5550;
    margin-bottom: .5rem; }

.single-product div.product form.cart .quantity {
  float: none; }

.single_add_to_cart_button {
  display: block;
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #5a5550 !important;
  background-color: #d2d7db !important;
  width: calc(50% - 26px); }
  .single_add_to_cart_button:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/ic-dbl-red-arr.svg) right no-repeat transparent;
    position: absolute;
    right: -26px;
    top: 0; }

/* wc_payment_page */
table.cart {
  background-color: transparent !important; }
  table.cart tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  table.cart th, table.cart td {
    background-color: #fff !important;
    border: 0 none !important;
    outline: 1px solid #5A5550;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 1rem 1.5% !important;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    table.cart th.product-remove, table.cart td.product-remove {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      text-align: center;
      -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
      min-width: 60px;
      display: table-cell !important;
      font-size: 1.2em;
      line-height: 1.2rem;
      padding: 1rem .5% !important; }
      table.cart th.product-remove .remove, table.cart td.product-remove .remove {
        margin: 0 auto; }
    table.cart th.product-name, table.cart td.product-name {
      display: table-cell !important;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
      table.cart th.product-name .variation-PDFyoupurchase, table.cart td.product-name .variation-PDFyoupurchase {
        display: none; }
    table.cart th.product-thumbnail, table.cart td.product-thumbnail {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
      min-width: 100px;
      text-align: center; }
      table.cart th.product-thumbnail *, table.cart td.product-thumbnail * {
        margin: 0 auto; }
      table.cart th.product-thumbnail a, table.cart td.product-thumbnail a {
        width: 100%; }
        table.cart th.product-thumbnail a:not(.adsh-pdf-preview), table.cart td.product-thumbnail a:not(.adsh-pdf-preview) {
          display: none; }
      table.cart th.product-thumbnail img, table.cart td.product-thumbnail img {
        width: 100%;
        height: auto;
        max-width: 250px; }
    table.cart th.product-price, table.cart th.product-quantity, table.cart th.product-subtotal, table.cart td.product-price, table.cart td.product-quantity, table.cart td.product-subtotal {
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
      min-width: 100px; }
      table.cart th.product-price *, table.cart th.product-quantity *, table.cart th.product-subtotal *, table.cart td.product-price *, table.cart td.product-quantity *, table.cart td.product-subtotal * {
        margin: 0 auto; }
    table.cart th.product-price, table.cart td.product-price {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    table.cart th.product-quantity, table.cart td.product-quantity {
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5;
      display: none !important; }
    table.cart th.product-subtotal, table.cart td.product-subtotal {
      -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
      order: 6; }
  table.cart th {
    font-size: 1.87rem;
    line-height: 2.17rem; }
  table.cart td {
    font-size: 1.56rem;
    line-height: 2.86rem; }
    table.cart td.product-name {
      font-weight: 300; }
      table.cart td.product-name strong {
        font-weight: 400; }
      table.cart td.product-name .cart-item-meta {
        padding-left: 1.68rem; }
        table.cart td.product-name .cart-item-meta p {
          margin: 1rem 0; }
    table.cart td.product-price, table.cart td.product-subtotal {
      font-weight: 600;
      color: #e14141; }

.woocommerce-form-coupon-toggle {
  display: none; }

.adsh-checkout-login-form-block, form.woocommerce-checkout, form.woocommerce-cart-form {
  font-size: 1.25rem;
  line-height: 1.55rem; }
  .adsh-checkout-login-form-block input:not([type="submit"]), .adsh-checkout-login-form-block textarea, form.woocommerce-checkout input:not([type="submit"]), form.woocommerce-checkout textarea, form.woocommerce-cart-form input:not([type="submit"]), form.woocommerce-cart-form textarea {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #d5d4d2;
    border-radius: 12px;
    background-color: #fff;
    padding: .5rem 1rem;
    margin-top: 1rem; }

form.checkout .col2-set {
  width: 50%; }

form.checkout #order_review {
  width: 100%; }

.adsh-checkout-login-form-block {
  float: right;
  width: 45%;
  margin: 2rem 2% 0 0; }

.adsh-checkout-login-form-block .woocommerce-form-login {
  margin-bottom: 0; }

.adsh-checkout-login-form-block button {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #4f89b9), color-stop(60%, #544d9a));
  background: -o-linear-gradient(left, #4f89b9 35%, #544d9a 60%);
  background: linear-gradient(90deg, #4f89b9 35%, #544d9a 60%);
  border-radius: 6px;
  font-size: 1.25rem;
  line-height: 1.45rem;
  color: #fff;
  padding: .8rem 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  width: 50%;
  text-transform: uppercase; }
  .adsh-checkout-login-form-block button:hover {
    color: #fff;
    background: -webkit-gradient(linear, right top, left top, color-stop(35%, #4f89b9), color-stop(60%, #544d9a));
    background: -o-linear-gradient(right, #4f89b9 35%, #544d9a 60%);
    background: linear-gradient(-90deg, #4f89b9 35%, #544d9a 60%); }

.adsh-checkout-login-form-block .form-row .button {
  width: 50%; }

.adsh-checkout-login-form-block .lost_password {
  margin-bottom: 0; }

form.checkout {
  border: 1px solid #5A5550;
  padding: 2rem 2%; }
  form.checkout h3 {
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #4f89b9), color-stop(60%, #544d9a));
    background: -o-linear-gradient(left, #4f89b9 35%, #544d9a 60%);
    background: linear-gradient(90deg, #4f89b9 35%, #544d9a 60%);
    border-radius: 6px;
    font-size: 1.25rem;
    line-height: 1.45rem;
    color: #fff;
    padding: .8rem 1rem;
    font-weight: 600;
    text-align: center; }
  form.checkout .col2-set {
    margin: 0; }
  form.checkout:after {
    content: '';
    clear: both;
    display: block;
    float: none; }

/* svg editing section
* version 2
*/
.adshop-template-section.version-2-0 {
  background-color: #EBF2F7;
  padding: 2.75rem; }
  .adshop-template-section.version-2-0 svg {
    background-color: #fff; }
  .adshop-template-section.version-2-0 .adsh-editsvg-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .adshop-template-section.version-2-0 .adsh-editsvg-form .left-side, .adshop-template-section.version-2-0 .adsh-editsvg-form .right-side {
      width: 48%; }
  .adshop-template-section.version-2-0 .svg-block {
    text-align: center;
    background-color: #BED9EA;
    padding: 1rem;
    margin-top: 0; }
    .adshop-template-section.version-2-0 .svg-block svg {
      margin: 0 auto; }
  .adshop-template-section.version-2-0 .adsh-tpl-btn {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 1rem;
    width: 100%;
    color: #5A5550;
    text-align: center;
    margin-bottom: 2rem; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn:active, .adshop-template-section.version-2-0 .adsh-tpl-btn:link, .adshop-template-section.version-2-0 .adsh-tpl-btn:visited, .adshop-template-section.version-2-0 .adsh-tpl-btn:focus {
      outline: 0 none; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.blue-btn {
      background-color: #005499;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400; }
      .adshop-template-section.version-2-0 .adsh-tpl-btn.blue-btn:hover, .adshop-template-section.version-2-0 .adsh-tpl-btn.blue-btn.active {
        background-color: #407FB3; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.white-btn {
      background-color: #fff;
      border: 1px solid #5A5550; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.light-blue-btn {
      border: 1px solid #5A5550;
      background-color: #BED9EA; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.red-btn {
      border: 1px solid #722626;
      background-color: #e14141; }
      .adshop-template-section.version-2-0 .adsh-tpl-btn.red-btn:hover, .adshop-template-section.version-2-0 .adsh-tpl-btn.red-btn.active {
        background-color: #631a1a; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-update-view-btn {
      margin-top: 0;
      min-height: 3.375rem; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-createqr-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-createqr-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-generate-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-removecode-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-restore-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-save-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-export-btn {
      text-transform: uppercase; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-createqr-btn {
      width: 50%; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-generate-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-save-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-export-btn {
      font-weight: 700; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-removecode-btn, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-restore-btn {
      font-weight: 400;
      color: #e14141; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-restore-btn:hover, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-restore-btn.active, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-save-btn:hover, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-save-btn.active, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-export-btn:hover, .adshop-template-section.version-2-0 .adsh-tpl-btn.adsh-export-btn.active {
      background-color: #6296C0;
      color: #fff; }
  .adshop-template-section.version-2-0 .adsh-texts-controls {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 1rem;
    background-color: #005499;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    min-height: 3.375rem; }
    .adshop-template-section.version-2-0 .adsh-texts-controls a {
      color: #fff;
      display: block;
      font-size: 1.7rem;
      line-height: 1.7rem;
      padding: .26rem .5rem;
      width: 2.3rem;
      border: 1px solid #fff;
      text-align: center;
      margin-left: .4rem;
      margin-right: .4rem; }
      .adshop-template-section.version-2-0 .adsh-texts-controls a.adsh-bold-control {
        font-weight: 700; }
      .adshop-template-section.version-2-0 .adsh-texts-controls a.adsh-italic-control {
        font-style: italic; }
      .adshop-template-section.version-2-0 .adsh-texts-controls a.adsh-underline-control {
        text-decoration: underline; }
      .adshop-template-section.version-2-0 .adsh-texts-controls a:hover, .adshop-template-section.version-2-0 .adsh-texts-controls a.active {
        background-color: #407FB3; }
  .adshop-template-section.version-2-0 .adsh-tpl-label, .adshop-template-section.version-2-0 .adsh-text-description {
    display: block;
    font-size: 1.25rem;
    line-height: 1.45rem;
    font-weight: 300;
    padding: 1rem 0;
    margin: 0; }
  .adshop-template-section.version-2-0 .adsh-tpl-url-input, .adshop-template-section.version-2-0 .adsh-edit-textarea {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #5A5550;
    background-color: #fff;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem;
    color: #5A5550;
    margin-bottom: 2.6rem; }
  .adshop-template-section.version-2-0 .adsh-tpl-url-input {
    line-height: 1.25rem;
    font-weight: 600; }
  .adshop-template-section.version-2-0 .adsh-edit-textarea {
    line-height: 1.75rem;
    font-weight: 400; }
  .adshop-template-section.version-2-0 .ra-wpmu-wrapper.adshop_v2-template .ra-upload-image-button {
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #5A5550;
    padding: 2rem 8rem;
    text-align: center; }
    .adshop-template-section.version-2-0 .ra-wpmu-wrapper.adshop_v2-template .ra-upload-image-button figure {
      margin: 0 auto; }
    .adshop-template-section.version-2-0 .ra-wpmu-wrapper.adshop_v2-template .ra-upload-image-button.control {
      padding: .5rem 2rem;
      margin-top: 2rem;
      margin-bottom: 0;
      background-color: #005499;
      color: #fff;
      text-transform: uppercase;
      border-radius: 1rem;
      width: 40%;
      line-height: 1rem; }
      .adshop-template-section.version-2-0 .ra-wpmu-wrapper.adshop_v2-template .ra-upload-image-button.control small {
        display: block;
        font-style: italic; }
      .adshop-template-section.version-2-0 .ra-wpmu-wrapper.adshop_v2-template .ra-upload-image-button.control:hover {
        background-color: #407FB3; }

/* guttenberg styles */
/* ! Don t edit this styles directly! */
/* ! This is gulp generated styles. */
/* ! To change them edit the source _scss files in /src folder and then run gulp compiler */
/* vars */
/* redefines
* for guttenberg editor only
*/
.questions-head-block h2, .questions-head-block .caption-h2, .faq-item h2, .faq-item .caption-h2 {
  color: #fff !important; }

.faq-item h2, .faq-item .caption-h2 {
  font-weight: 300 !important; }

/* main
 * common for front and guttenberg editor
 */
.adsh-darkgrey-btn {
  background-color: #5A5550;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.35rem;
  border-radius: 8px;
  padding: .9rem 2rem;
  margin-top: 3.5rem;
  position: relative; }
  .adsh-darkgrey-btn.with-arrow {
    padding-right: 70px; }
    .adsh-darkgrey-btn.with-arrow:after {
      display: block;
      content: '';
      width: 35px;
      height: 26px;
      background: url("../images/ic-dbl-arr-small.svg") center no-repeat transparent;
      position: absolute;
      right: 1rem;
      top: 50%;
      margin-top: -13px; }

.questions-head-block {
  background-color: #6296C0;
  padding-top: 5.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  margin: 9rem 7.5rem;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#6f9ec6), color-stop(13%, #599ccf));
  background: -o-linear-gradient(left, #6f9ec6 0%, #599ccf 13%);
  background: linear-gradient(to right, #6f9ec6 0%, #599ccf 13%); }
  .questions-head-block h2,
  .questions-head-block .caption-h2 {
    color: #fff;
    display: inline-block;
    font-size: 4.375rem;
    line-height: 5.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 7px solid #fff;
    margin-left: 7.5rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1; }
    .questions-head-block h2 strong,
    .questions-head-block .caption-h2 strong {
      display: block;
      font-size: 3.7rem;
      font-weight: 400; }
  .questions-head-block .dlg-question-im {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .8;
    position: absolute;
    z-index: 0;
    right: 1.5rem;
    bottom: -2rem; }
    .questions-head-block .dlg-question-im img {
      width: 100%; }

.faq-item {
  margin: 0 7.5rem 5rem; }
  .faq-item h2,
  .faq-item .caption-h2 {
    font-size: 3.7rem;
    line-height: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(#3f7eb3), color-stop(50%, white));
    background: -o-linear-gradient(left, #3f7eb3 0%, white 50%);
    background: linear-gradient(to right, #3f7eb3 0%, white 50%);
    padding: 0.3rem 7.5rem;
    color: #fff; }
  .faq-item p {
    font-size: 1.87em;
    line-height: 3rem;
    font-weight: 300;
    padding-left: 9%; }

h2.box,
.caption-h2.box {
  color: #fff;
  background-color: #407FB3;
  font-size: 4.18rem;
  line-height: 4.2rem;
  font-weight: 400;
  padding: 1rem 6.25rem 1.2rem 1rem;
  border-top-right-radius: 3.75rem;
  text-align: right;
  margin-right: 20%; }

.caption-h3 {
  margin-top: 0; }
  .caption-h3.with-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.14rem;
    line-height: 2.5rem;
    font-weight: 800;
    background-color: #EBF2F7;
    color: #005499;
    width: 55%;
    text-align: right;
    position: relative;
    height: 125px;
    margin-bottom: 0; }
    .caption-h3.with-arrows:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/ic-dbl-arr.svg") right no-repeat transparent;
      position: absolute;
      right: -50px;
      top: 0; }

h3.blue-gt-bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #4f89b9), color-stop(60%, #544d9a));
  background: -o-linear-gradient(left, #4f89b9 35%, #544d9a 60%);
  background: linear-gradient(90deg, #4f89b9 35%, #544d9a 60%);
  border-radius: 6px;
  font-size: 1.25rem;
  line-height: 1.45rem;
  color: #fff;
  padding: .8rem 1rem;
  font-weight: 600;
  text-align: center; }

/* blocks
* common for front and guttenberg editor
*/
.adshop-optional-block {
  margin: 2.5rem 7.5rem;
  padding: 5rem 5rem;
  border: 1px solid #d5d4d2;
  color: #837f7c; }
  .adshop-optional-block .caption-h4 {
    font-size: 1.87rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: none;
    color: #837f7c;
    margin-bottom: 1.4rem; }
  .adshop-optional-block .body-text {
    font-size: 1.25rem;
    line-height: 1.65rem;
    font-weight: 300; }
  .adshop-optional-block .adsh-darkgrey-btn {
    margin-top: 2rem; }
    .adshop-optional-block .adsh-darkgrey-btn.with-arrow {
      padding-right: 7.5rem; }
  .adshop-optional-block .right-side {
    position: relative;
    text-align: center; }
    .adshop-optional-block .right-side.with-vert-sep {
      border-left: 1px solid #5A5550;
      margin-left: 3.8rem; }
      .adshop-optional-block .right-side.with-vert-sep:after {
        content: '';
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
        border: 3px solid #5A5550;
        background-color: #fff;
        position: absolute;
        left: -2.1rem;
        top: 50%;
        margin-top: -1.9rem; }
    .adshop-optional-block .right-side a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .adshop-optional-block button {
    text-align: center; }

.note-block {
  font-size: 1.37rem;
  line-height: 1.47rem;
  text-align: center;
  background-color: #faedf6;
  border: 1px dashed #6296C0;
  border-radius: 8px;
  padding: .5rem;
  margin-top: 2rem; }
  .note-block .caption-h5 {
    font-size: 1.37rem;
    line-height: 1.47rem;
    font-weight: 700;
    text-transform: none;
    color: #407FB3;
    display: block;
    margin-bottom: .3rem; }
  .note-block p {
    margin: 0; }

/* template inner pages */
body.page-template-template-inner .page-title {
  border-radius: 10px;
  display: block;
  font-size: 2.25rem;
  line-height: 2.45rem;
  font-weight: 600;
  padding: 1.5rem 5rem;
  color: #fff;
  text-transform: uppercase;
  width: 75%;
  min-width: 300px;
  position: relative;
  background: url("../images/shape-1.png") left top no-repeat transparent;
  background-size: 100% 100%; }

body.page-template-template-inner .caption-h3 {
  font-size: 2.25rem;
  line-height: 2.45rem;
  font-weight: 600;
  color: #5A5550; }

/* contact form */
.adshop-contact-form {
  border: 2px solid #5A5550;
  border-radius: 8px;
  padding: 3rem 5rem 5rem;
  font-size: 1.85rem;
  line-height: 2rem; }
  .adshop-contact-form p {
    margin: 0; }
  .adshop-contact-form label {
    font-size: 1.85rem;
    line-height: 2rem;
    margin-top: 2rem;
    display: block; }
  .adshop-contact-form input:not([type="submit"]), .adshop-contact-form textarea {
    font-size: 1.85rem;
    line-height: 2rem;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #d5d4d2;
    border-radius: 12px;
    background-color: #fff;
    padding: .8rem;
    margin-top: 2rem; }
  .adshop-contact-form input.btn-gradiented {
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #4f89b9), color-stop(60%, #544d9a));
    background: -o-linear-gradient(left, #4f89b9 35%, #544d9a 60%);
    background: linear-gradient(90deg, #4f89b9 35%, #544d9a 60%);
    border-radius: 10px;
    display: block;
    font-size: 2.18rem;
    line-height: 2.5rem;
    font-weight: 500;
    padding: 1rem 5rem;
    color: #fff;
    text-transform: uppercase;
    min-width: 300px;
    margin-top: 3rem; }
  .adshop-contact-form .wpcf7-form-control.wpcf7-acceptance {
    position: relative; }
    .adshop-contact-form .wpcf7-form-control.wpcf7-acceptance label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .adshop-contact-form .wpcf7-form-control.wpcf7-acceptance label input {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 2.6rem;
        height: 2.6rem;
        line-height: 2rem;
        margin: 0; }
      .adshop-contact-form .wpcf7-form-control.wpcf7-acceptance label .wpcf7-list-item-label {
        font-weight: 300;
        line-height: 2rem;
        padding-left: 1rem;
        display: block; }
  .adshop-contact-form .wpcf7-list-item {
    margin: 0; }

.wpcf7 form .wpcf7-response-output {
  margin-left: 0;
  margin-right: 0; }

/* footer */
.site-footer {
  position: relative;
  font-size: 1.25rem;
  padding-bottom: 10rem; }
  .site-footer .payments-list .payment-item {
    display: inline-block;
    background-color: #fff;
    border-radius: 1rem;
    padding: .5rem;
    margin-right: 1rem;
    line-height: 1;
    vertical-align: top;
    min-width: 186px;
    text-align: center;
    margin-bottom: 1rem; }
    .site-footer .payments-list .payment-item img {
      display: inline-block; }
    .site-footer .payments-list .payment-item.sepa {
      padding-top: .8rem;
      padding-bottom: .9rem; }
    .site-footer .payments-list .payment-item.mastercard {
      background-color: transparent; }
  .site-footer .socials-list .social-item {
    font-size: 3.2rem;
    line-height: 3.6rem;
    display: inline-block;
    margin-left: 1rem; }
  .site-footer p {
    margin-bottom: 1rem; }
  .site-footer .bottom-line {
    padding-top: 1rem;
    position: absolute;
    width: 100%;
    background-color: #005499;
    bottom: 0; }
    .site-footer .bottom-line p {
      text-align: center; }
  .site-footer a {
    text-decoration: none; }

/**
 * Media Queries
 * ----------------------------------------------------------------------------
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/**
 * <= 1140px
 * ----------------------------------------------------------------------------
 */
@media only screen and (max-width: 1140px) {
  /* homepage */
  body.home h2.box {
    padding: 1rem 2rem 1rem;
    font-size: 3rem;
    line-height: 3rem; }
  body.home .caption-h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 2rem;
    margin: 0; }
  body.home .faq-item h2 {
    padding: 0;
    padding-left: 1rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #3f7eb3), color-stop(95%, #fff));
    background: -o-linear-gradient(left, #3f7eb3 0, #fff 95%);
    background: linear-gradient(to right, #3f7eb3 0, #fff 95%);
    font-size: 3rem;
    line-height: 3rem; }
    body.home .faq-item h2.box {
      text-align: left;
      margin-right: 0; }
  body.home ul.products {
    padding: 1rem;
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    body.home ul.products li.product.product-category {
      width: 23.7%;
      margin: 0.5rem; }
      body.home ul.products li.product.product-category img {
        max-width: 260px;
        margin-bottom: .1rem; }
    body.home ul.products li.product {
      margin: .5rem; }
      body.home ul.products li.product .woocommerce-loop-category__title {
        border-radius: .5rem;
        margin-top: .3rem;
        font-weight: 400;
        padding: .3rem; }
  body.home .questions-head-block {
    margin: 1rem;
    padding: 1rem 0; }
    body.home .questions-head-block .wp-block-group__inner-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body.home .questions-head-block .wp-block-group__inner-container h2 {
        width: 100%;
        margin: 0;
        border: 0;
        padding: 1rem;
        font-size: 3rem;
        line-height: 3rem; }
        body.home .questions-head-block .wp-block-group__inner-container h2 strong {
          font-size: 3rem;
          line-height: 3rem; }
      body.home .questions-head-block .wp-block-group__inner-container .wp-block-image {
        position: relative; }
    body.home .questions-head-block .dlg-question-im img {
      max-width: 260px; }
  .caption-h3.with-arrows {
    width: 90%;
    margin: 0; }
  .adshop-top-banner-block {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .adshop-top-banner-block .caption-h1 {
      margin: 0 2rem; }
  ul.products {
    padding: 0; }
    ul.products li.product.type-product {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: .5rem 0rem; }
      ul.products li.product.type-product .adshop-product-properties {
        width: 100%; }
      ul.products li.product.type-product .adshop-product-property {
        margin-bottom: .75rem; }
        ul.products li.product.type-product .adshop-product-property .property-name,
        ul.products li.product.type-product .adshop-product-property .property-value {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
    ul.products li.product img {
      margin-bottom: 0; }
  .site-main .adshop-wc-categoties-block ul.products {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1rem;
    margin: 0; }
    .site-main .adshop-wc-categoties-block ul.products li.product {
      margin: .5rem; }
      .site-main .adshop-wc-categoties-block ul.products li.product a img {
        margin-bottom: .5rem; }
  .site-main .adshop-wc-categoties-block.root-categories ul.products li.product.product-category {
    width: 23.7%;
    margin: .5rem; }
  /* links */
  a.button.adshop-with-red-arrow {
    width: 90%; }
    a.button.adshop-with-red-arrow:after {
      right: -24px; }
  /* filter */
  .adshop-filter-shortcode {
    margin: 1rem;
    padding: 1rem;
    border: 0; }
    .adshop-filter-shortcode .ta-c {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .adshop-filter-shortcode .ta-c .adsh-darkgrey-btn {
        padding: .8rem 1.4rem;
        margin-top: 1rem; }
  .adshop-filter-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .adshop-filter-row .adsh-col-1-2 {
      margin-bottom: 1rem;
      width: 100%; }
  .adshop-optional-block {
    margin: 1rem;
    padding: 1rem; }
    .adshop-optional-block .adsh-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .adshop-optional-block .adsh-row .adsh-col-1-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%; }
    .adshop-optional-block .right-side.with-vert-sep {
      border-left: 0;
      margin-left: 0; }
      .adshop-optional-block .right-side.with-vert-sep:after {
        display: none; }
  /* for shop product page */
  body.single-product .product {
    padding: 2rem 0; }
  body.single-product .adshop-product-header .info-list {
    padding: 1rem; }
    body.single-product .adshop-product-header .info-list .info-item .info p.caption {
      font-size: 1.4rem;
      line-height: 1.4rem; }
    body.single-product .adshop-product-header .info-list .info-item .info p.name {
      font-size: 1.4rem;
      line-height: 1.4rem; }
  /* svg editing section
  * version 2
  */
  .adshop-template-section.version-2-0 {
    padding: 1rem; }
    .adshop-template-section.version-2-0 .adsh-editsvg-form {
      margin: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      .adshop-template-section.version-2-0 .adsh-editsvg-form .left-side,
      .adshop-template-section.version-2-0 .adsh-editsvg-form .right-side {
        width: 100%; }
      .adshop-template-section.version-2-0 .adsh-editsvg-form .left-side {
        margin-top: 2rem; }
    .adshop-template-section.version-2-0 .adsh-tpl-btn {
      margin-bottom: .5rem; }
    .adshop-template-section.version-2-0 .adsh-tpl-url-input,
    .adshop-template-section.version-2-0 .adsh-edit-textarea {
      margin-bottom: 1rem; }
  .single_add_to_cart_button {
    width: 90%; }
  .storefront-full-width-content.single-product div.product .summary {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 1rem; }
  .single-product div.product form.cart {
    padding: 0;
    margin: 0; } }

/**
 * <= 960px
 * ----------------------------------------------------------------------------
*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 14px; }
  /* left and rigth site paddings and margins */
  .col-full .woocommerce-breadcrumb {
    padding-left: 5%;
    padding-right: 5%; }
  .site-header .col-full, .site-footer .col-full {
    padding-left: 5%;
    padding-right: 5%; }
  body.page-template-template-inner .col-full {
    padding-left: 5%;
    padding-right: 5%; }
  .site-header .col-full.adshop-top-banner-block {
    padding-left: 0;
    padding-right: 0; }
  .questions-head-block,
  .faq-item,
  .adshop-filter-shortcode,
  .products-caption,
  .filter-caption,
  .adshop-optional-block {
    margin-left: 5%;
    margin-right: 5%; }
  .adshop-contact-form {
    padding-left: 5%;
    padding-right: 5%; } }

/**
 * <= 768px
 * ----------------------------------------------------------------------------
 */
@media only screen and (max-width: 768px) {
  /* homepage */
  body.home ul.products li.product.product-category img {
    max-width: 200px; }
  body.home ul.products li.product .woocommerce-loop-category__title {
    border-radius: .5rem;
    margin-top: .3rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    padding: .3rem; }
  .site-header .custom-logo-link img {
    width: 75%; }
  .adshop-top-banner-block .caption-h1 {
    position: static;
    font-size: 2rem;
    line-height: 4rem; }
  .d-flex.va-bm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  /**
    * Content
     */
  .questions-head-block .dlg-question-im img {
    width: 50%; }
  /**
    * Shop
     */
  .site-main .adshop-wc-categoties-block.root-categories ul.products li.product {
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 4rem; }
  /**
    * Footer
     */
  .site-footer .d-flex {
    display: block; }
  .site-footer .adsh-col-1-3 {
    width: 100%;
    text-align: center; }
  .adshop-top-banner-block {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .adshop-top-banner-block .caption-h1 {
      font-size: 1.5rem;
      line-height: 3rem;
      margin: 0 1rem; }
  .caption-h3.with-arrows {
    width: 100%;
    font-size: 1.14rem;
    line-height: 1.5rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: 0;
    padding-left: 8px;
    height: 75px; }
  /* global products list redefines  */
  ul.products li.product .woocommerce-loop-category__title {
    border-radius: .5rem;
    margin-top: .3rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    padding: .3rem; }
  ul.products li.product.type-product .adshop-product-property {
    font-size: 1rem;
    line-height: 1rem; }
    ul.products li.product.type-product .adshop-product-property .property-value {
      font-size: 1rem; }
  /* links */
  a.button.adshop-with-red-arrow {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    width: 100%; }
    a.button.adshop-with-red-arrow:after {
      right: -12px; }
  /* filter */
  .adshop-filter-shortcode .ta-c .adsh-darkgrey-btn {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400; }
  /* for shop product page */
  body.single-product .product {
    padding: .5rem 0rem; }
  body.single-product .adshop-product-header .info-list {
    padding: .5rem 0rem;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    body.single-product .adshop-product-header .info-list .info-item .info p {
      margin-bottom: 0; }
      body.single-product .adshop-product-header .info-list .info-item .info p.caption {
        font-size: 1.2rem;
        line-height: 1.2rem; }
      body.single-product .adshop-product-header .info-list .info-item .info p.name {
        font-size: 1.2rem;
        line-height: 1.2rem; } }

/**
 * <= 540
 * ----------------------------------------------------------------------------
*/
@media only screen and (max-width: 540px) {
  /* homepage */
  body.home ul.products {
    padding: 0; }
    body.home ul.products li.product.product-category img {
      max-width: 120px; }
  .site-header .custom-logo-link img {
    width: 50%; } }

/**
 * > 768px
 * ----------------------------------------------------------------------------
 */
@media only screen and (min-width: 768px) {
  .col-full {
    max-width: 1920px; } }
