/* contact form */
.adshop-contact-form{
    border: 2px solid $grey-1;
    border-radius: 8px;
    padding: 3rem 5rem 5rem;
    font-size: 1.85rem;
    line-height: 2rem;
    p{
        margin: 0;
    }
    label{
        font-size: 1.85rem;
        line-height: 2rem;
        margin-top: 2rem;
        display: block;
    }
    input:not([type="submit"]), textarea {
        font-size: 1.85rem;
        line-height: 2rem;
        outline: none;
        box-shadow: none;
        border: 2px solid $grey-2;
        border-radius: 12px;
        background-color: #fff;
        padding: .8rem;
        margin-top: 2rem;
    }
    input{
        &[type="text"]{

        }
        &[type="email"]{

        }
        &.btn-gradiented{
            background: $gt-blue;
            border-radius: 10px;
            display: block;
            font-size: 2.18rem;
            line-height: 2.5rem;
            font-weight: 500;
            padding: 1rem 5rem;
            color: #fff;
            text-transform: uppercase;
            min-width: 300px;
            margin-top: 3rem;
        }
    }
    .wpcf7-spinner{

    }
    .wpcf7-form-control{
        &.wpcf7-acceptance{
            position: relative;
            label{
                display: flex;
                input{
                    flex-shrink: 0;
                    width: 2.6rem;
                    height: 2.6rem;
                    line-height: 2rem;
                    margin: 0;
                }
                .wpcf7-list-item-label{
                    font-weight: 300;
                    line-height: 2rem;
                    padding-left: 1rem;
                    display: block;
                }
            }
        }
    }
    .wpcf7-list-item{
        margin: 0;
    }
}

.wpcf7 form .wpcf7-response-output{
    margin-left: 0;
    margin-right: 0;
}
