/* footer */
.site-footer{
    position: relative;
    font-size: 1.25rem;
    padding-bottom: 10rem;
    .payments-list{
        .payment-item{
            display: inline-block;
            background-color: #fff;
            border-radius: 1rem;
            padding: .5rem;
            margin-right: 1rem;
            line-height: 1;
            vertical-align: top;
            min-width: 186px;
            text-align: center;
            margin-bottom: 1rem;
            img{
                display: inline-block;
            }
            &.sepa{
                padding-top: .8rem;
                padding-bottom: .9rem;
            }
            &.mastercard{
                background-color: transparent;
            }
        }
    }
    .socials-list{
        .social-item{
            font-size: 3.2rem;
            line-height: 3.6rem;
            display: inline-block;
            margin-left: 1rem;
        }
    }
    p{
        margin-bottom: 1rem;
    }
    .bottom-line{
        padding-top: 1rem;
        position: absolute;
        width: 100%;
        background-color: $blue;
        bottom: 0;
        p{
            text-align: center;
        }
    }
    a{
        text-decoration: none;
    }
}
