/* for shop pages and elements */
ul.products li.product img{
    //margin-left: 0;
    //margin-right: 0;
}
.product-category{
    h2.woocommerce-loop-category__title{
        background-color: $blue-1;
        color: #fff;
        padding: 1.4rem;
        border-radius: 2.5rem;
        font-size: 1.87rem !important;
        line-height: 1.9rem !important;
        font-weight: 700 !important;
        margin-top: 1rem;
        &:hover, .active{
            background-color: $blue;
        }
    }
}