/* header */
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a{
    padding: .3rem 1rem;
}
.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header{
    margin-bottom: 0;
}
.site-header{
    border: 0 none;
}

.woocommerce-active{
    .site-header{
        padding-top: 1rem;
        padding-bottom: 0;
        .site-branding{
            max-width: 148px;
            min-width: 80px;
            margin: 0;
            img{}
        }

        /*
        * Navigation
         */
        .main-navigation{
            display: flex;
            justify-content: flex-end;
            flex-grow: 2;
            width: auto;
        }

        .primary-navigation, .mobile-navigation, input.search-field{
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 300;
        }

        .primary-navigation, .mobile-navigation{

            text-transform: uppercase;
            a{
                color: $grey-1;
                &:hover{
                    color: $blue;
                }
            }
            li{
                &.menu-item-account{
                    a{
                        background-color: $blue;
                        border-radius: 1.5rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        color: #fff;
                        &:hover{
                            background-color: $grey-1;
                        }
                    }
                }
                &.current-menu-item{
                    a{
                        color: $blue;
                    }
                }
            }
        }

        .primary-navigation{
            .menu{
                display: flex;
                justify-content: flex-end;
            }
        }

        .mobile-navigation{
            margin-top: 1rem;
            line-height: 3rem;
            &.toggled{
                .handheld-navigation{
                    max-height: 9999px;
                }
            }
        }

        /*
        * Shop cart
         */
        .site-header-cart{
            width: auto;
            margin-right: 1.5rem;
            .cart-contents{
                position: relative;
                border: 1px solid $grey-1;
                border-radius: 50%;
                padding: .5rem;
                width: 2.5rem;
                height: 2.5rem;
                text-align: center;
                .cart-icon{
                    font-size: 1.3em;
                    margin-left: -2px;
                    color: $grey-1;
                }
                .count{
                    background-color: red;
                    color: #fff;
                    width: 1.2em;
                    height: 1.2em;
                    border-radius: 50%;
                    line-height: 1.2em;
                    position: absolute;
                    right: 0;
                    top: -.5em;
                    opacity: 1;
                }
                &:after{
                    display: none;
                }
            }
            &:hover{
                .widget_shopping_cart{
                    left: -18rem;
                }
            }
            .widget_shopping_cart{
                min-width: 20rem;
            }
        }

        /*
        * Search
         */
        .site-search{
            margin: 0;
            .widget_product_search{
                form{
                    position: relative;
                    &:before{
                        content: '';
                    }
                    &:after{
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        vertical-align: baseline;
                        content: "";
                        position: absolute;
                        top: 1em;
                        right: 1em;
                        line-height: 1;
                    }
                }
            }
            .woocommerce-product-search{}
            input.search-field{
                box-shadow: none;
                border: 1px solid $grey-1;
                border-radius: 1rem;
                background-color: #fff;
                padding: .3rem 2rem .3rem 1rem !important;

            }
        }
    }
}

