/* header banner */
.adshop-top-banner-block{
    background-color: $grey-bg;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    position: relative;
    &.with-post-thumbnail{
        margin-top: 2rem;
        padding: 0;
        .caption-h1{
            position: absolute;
            z-index: 1;
            right: 2.7rem;
            bottom: 30%;
            color: $blue;
            background-color: rgba(255,255,255,.2);
            padding: 1rem 2rem;
            border-radius: 4px;
        }
    }
    figure{
        position: relative;
        z-index: 0;
    }
    .figured-element{
        position: absolute;
        bottom: -1px;
    }
}
.adshop-top-line{
    height: 2rem;
    &.white{
        background-color: #fff;
    }
    &.grey{
        background-color: $grey-bg;
    }

}

