/* helpers */
.h-from-w{
	position: relative;
	&:before {
		content: "";
		display: block; 
		width: 100%;
	}
	&.ratio-16x9{
		padding-top: 56.25%; /* (9:16)*100% */
	}
	&.ratio-4x3{
		padding-top: 75%;
	}
	&.ratio-2x1{
		padding-top: 50%;
	}
	&.ratio-1x1{
		padding-top: 100%;
	}
	>.ratio-content{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		img{
			width: auto;
			height: 100%;
		}
	}
}
.d-flex{
	display: flex;
	//justify-content: space-between;
	align-items: flex-start;
	&.jc-sb{
		justify-content: space-between;
	}
	&.va-mid{
		align-items: center;
	}
	&.va-bm{
		align-items: flex-end;
	}
}
.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}
.disabled, select:disabled{
	pointer-events: none;
	opacity: .7;
}
.adsh-col-1-2{
	width: 50%;
}
.adsh-col-1-3{
	width: 33%;
}
.adsh-col-1-4{
	width: 25%;
}
.adsh-col-3-4{
	width: 75%;
}
.adsh-col-1-5{
	width: 20%;
}
.adsh-col-2-5{
	width: 40%;
}
.adsh-col-3-5{
	width: 60%;
}
.adsh-col-4-5{
	width: 80%;
}
.mr-0{
	margin: 0;
}
.pd-0{
	padding: 0;
}
.ls-n{
	list-style: none;
}
.cfx {
	&:after{
		content: '';
		clear: both;
		display: block;
		float: none;
	}
}