/* layout */
.col-full{
    padding: 0;
    box-sizing: border-box;
    .woocommerce-breadcrumb{
        padding-left: $g-span;
        padding-right: $g-span;
    }
}
.site-header, .site-footer{
    .col-full{
        padding-left: $g-span;
        padding-right: $g-span;
    }
}
body{
    &.page-template-template-inner{
        .col-full{
            padding-left: $g-span;
            padding-right: $g-span;
        }
    }
}
@media(max-width: 66.4989378333em) {
    .col-full {
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width: 568px) {
    .col-full {
        margin-left: 0;
        margin-right: 0;
    }
}
