/* links */
a{
 	transition: 0.3s linear;
 	&:hover, &:focus, &:active, &:visited {
 		outline: 0 none;
 	}
	&.button{
		&.adshop-with-red-arrow{
			display: flex;
			position: relative;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 800;
			color: $grey-1;
			background-color: $grey-3;
			width: calc(100% - 26px);
			&:after{
				content: '';
				display: flex;
				width: 100%;
				height: 100%;
				background: url("../images/ic-dbl-red-arr.svg") right no-repeat transparent ;
				position: absolute;
				right: -26px;
				top: 0;
			}
			&:hover{
				color: $grey-3;
				background-color: $grey-1;
			}
		}
	}
}
input{
	&:hover, &:focus, &:active {
		outline: 0 none;
	}
}
