/* main */
html {
  font-size: 16px;
  line-height: 18px;
}

body {
  color: $grey-1;
  min-width: 280px;
}

h1,
h2,
h3,
h4,
h5 {
  transition: 0.3s linear;
  text-transform: uppercase;
}

.caption-h1 {
  font-size: 3rem;
  line-height: 6rem;
  font-weight: 400;
  color: $grey-1;
  margin-bottom: 1.7rem;
  text-align: right;

  //padding-right: 2.7rem;
  strong {
    display: block;
    font-size: 2em;
    font-weight: 800;
    color: $blue;
  }
}

h2 {
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: 800;
  color: $blue;
  margin: 2.5rem 0;
}

.caption-h2 {}

.hentry .entry-content a {
  text-decoration: none;
}

hr {
  background-color: #fff;
  color: #fff;
  border: 0 none;
  height: 2rem;
  margin: 0;
}

/* homepage */
body {
  &.home {
    h2 {
      padding-left: $g-span;
      padding-right: $g-span;
    }

    .caption-h2 {
      font-weight: 800;
      font-size: 3.125rem;
      line-height: 3.125rem;
      color: #005499;
      text-transform: uppercase;

      &.box {
        color: #fff;
        font-size: 4.18rem;
        line-height: 4.2rem;
        font-weight: 400;
      }
    }

    .products {
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      background-color: $grey-bg;
      padding: 8.75rem $g-span 1rem;

      li.product.product-category {
        img {
          max-width: 320px;
          width: 100%;
        }
      }
    }
  }
}