/* wc_payment_page */
.woocommerce-checkout{
    .shop_table{
    }
}
table.cart{
    background-color: transparent !important;
    tr{
        display: flex;
        align-items: stretch;
    }
    th, td{
        background-color: #fff !important;
        border: 0 none !important;
        outline: 1px solid $grey-1;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 1rem 1.5% !important;
        position: relative;
        display: flex !important;
        align-items: center;
        flex-wrap: wrap;
        &.product-remove{
            order: 1;
            flex-grow: 0;
            text-align: center;
            flex-basis: 60px;
            min-width: 60px;
            display: table-cell !important;
            font-size: 1.2em;
            line-height: 1.2rem;
            padding: 1rem .5% !important;
            .remove{
                margin: 0 auto;
            }
        }
        &.product-name{
            display: table-cell !important;
            order: 2;
            flex-basis: 40%;
            .variation-PDFyoupurchase{
                display: none;
            }
        }
        &.product-thumbnail{
            order: 3;
            flex-basis: 14%;
            min-width: 100px;
            text-align: center;
            *{
                margin: 0 auto;
            }
            a{
                width: 100%;
                &:not(.adsh-pdf-preview){
                    display: none;
                }
            }
            img{
                width: 100%;
                height: auto;
                max-width: 250px;
            }
        }
        &.product-price, &.product-quantity, &.product-subtotal{
            text-align: center;
            justify-content: center;
            flex-basis: 10%;
            min-width: 100px;
            *{
                margin: 0 auto;
            }
        }
        &.product-price{
            order: 4;
        }
        &.product-quantity{
            order: 5;
            display: none !important;
        }
        &.product-subtotal{
            order: 6;
        }
        &.actions{
        }
    }
    th{
        font-size: 1.87rem;
        line-height: 2.17rem;
    }
    td{
        font-size: 1.56rem;
        line-height: 2.86rem;
        &.product-name{
            font-weight: 300;
            strong{
                font-weight: 400;
            }
            .cart-item-meta{
                padding-left: 1.68rem;
                p{
                    margin: 1rem 0;
                }
            }
        }
        &.product-price, &.product-subtotal{
            font-weight: 600;
            color: $red;
        }
    }
}
.woocommerce-form-coupon-toggle{
    display: none;
}
.adsh-checkout-login-form-block, form.woocommerce-checkout, form.woocommerce-cart-form{
    font-size: 1.25rem;
    line-height: 1.55rem;
    label{}
    input:not([type="submit"]), textarea {
        outline: none;
        box-shadow: none;
        border: 2px solid $grey-2;
        border-radius: 12px;
        background-color: #fff;
        padding: .5rem 1rem;
        margin-top: 1rem;
    }
}
.adsh-checkout-section{
    //display: flex;
    //flex-direction: row-reverse;
}
// placing >
form.checkout{
    .col2-set{
        width: 50%;
    }
    #order_review{
        width: 100%;
    }
}
.adsh-checkout-login-form-block{
    float: right;
    width: 45%;
    margin: 2rem 2% 0 0;
    //~ form.checkout{
    //    .col2-set{
    //        width: 50%;
    //    }
    //    #order_review{
    //        width: 100%;
    //    }
    //}
}
// < placing

.adsh-checkout-login-form-block, form.checkout{
    //border: 1px solid $grey-1;
    //padding: 2rem 2%;
}
.adsh-checkout-login-form-block{
    .woocommerce-form-login{
        margin-bottom: 0;
    }
    button{
        background: $gt-blue;
        border-radius: 6px;
        font-size: 1.25rem;
        line-height: 1.45rem;
        color: #fff;
        padding: .8rem 1rem;
        font-weight: 600;
        text-align: center;
        margin-top: 1rem;
        width: 50%;
        text-transform: uppercase;
        &:hover{
            color: #fff;
            background: $gt-blue-reverse;
        }
    }
    .form-row .button {
        width: 50%;
    }
    .lost_password{
        margin-bottom: 0;
    }
}
form.checkout{
    border: 1px solid $grey-1;
    padding: 2rem 2%;
    h3{
        background: $gt-blue;
        border-radius: 6px;
        font-size: 1.25rem;
        line-height: 1.45rem;
        color: #fff;
        padding: .8rem 1rem;
        font-weight: 600;
        text-align: center;
    }
    .col2-set{
        margin: 0;
    }
    #customer_details, #order_review{}
    #customer_details{}
    #order_review{}
    @include cfx;
}
// redefines
