/* for shop pages and elements */
/* categories pages */
body.tax-product_cat {
  .content-area {
    margin-bottom: 0;
  }
}

.woocommerce-products-header {
  display: none;
}

.products-caption,
.filter-caption {
  margin-left: $g-span;
  margin-right: $g-span;
}

.products-caption {}

/* global products list redefines  */
.storefront-full-width-content {
  .site-main {
    ul.products.columns-4 {
      li.product {
        margin: .5rem;
      }
    }
  }
}

ul.products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 $g-span;



  li.product {
    margin: 0;

    &.first {
      clear: none;
    }

    .woocommerce-loop-category__title {
      background-color: $blue-1;
      color: #fff;
      border-radius: 1rem;
      font-weight: 700;
      margin-top: 1rem;
      text-transform: none;
      font-size: 1rem;
      line-height: 1rem;
      padding: .8rem;
    }

    &:hover,
    .active {
      img {
        outline: 2px solid $blue;
      }

      .woocommerce-loop-category__title {
        background-color: $blue;
      }
    }

    &.type-product {
      display: flex;
      align-items: center;
      //display: block;
      background-color: $blue-3;
      width: 100% !important;
      clear: both;
      float: none !important;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 2.5rem 1.5rem;

      &:first-child {
        margin-top: 2.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .left-side,
      .right-side {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .left-side {
        width: 45%;
      }

      .right-side {
        width: 55%;
        flex-grow: 1;
      }

      .adshop-product-properties {
        width: 60%;
      }

      .adshop-product-property {
        text-transform: uppercase;
        border: 1px solid $grey-3;
        font-size: 1.25rem;
        line-height: 1.45rem;
        padding: .75rem 1.5rem;
        background-color: #fff;
        margin-bottom: 4.3rem;
        text-align: left;
        color: #83807b;
        display: flex;
        justify-content: space-between;

        .property-name,
        .property-value {
          display: flex;
          align-items: center;
        }

        .property-name {
          // width: 30%;
        }

        .property-value {
          text-align: right;
          font-size: 1.25em;
          font-weight: 700;
          // flex-grow: 1;
        }

        &.price {
          .property-value {
            color: $red;
          }
        }
      }
    }
  }
}

/* categoties list on shop page */
.site-main {
  .adshop-wc-categoties-block {
    ul.products {
      flex-direction: row;
      background-color: $grey-bg;
      padding: 7.5rem $g-span;

      li {
        &.product {
          &.last {
            margin: 1% !important;
          }

          a {
            text-decoration: none;

            img {
              width: 100%;
              max-width: 320px;
            }
          }
        }
      }

      &.adshop-categoties-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 2.5rem;

        // 4 in row
        li {
          &.product.product-category {
            width: 23.7%;
            margin: .5rem;

            &:hover,
            .active {
              img {
                outline: 2px dashed $grey-1;
              }

              .woocommerce-loop-category__title {
                background-color: $grey-1;
              }
            }
          }
        }
      }
    }

    &.root-categories {
      margin-bottom: 2.5rem;

      // 8 in row
      ul.products {
        li {
          &.product.product-category {
            width: 10.7%;
            margin: .5rem;

            &:hover,
            .active {
              img {
                outline: 2px dashed $grey-1;
              }

              .woocommerce-loop-category__title {
                background-color: $grey-1;
              }
            }
          }
        }
      }
    }

    &.category-root {
      display: none;
    }

  }
}

/* filter */
.adshop-filter-shortcode {
  margin: 2.5rem $g-span;
  padding: 5rem 5rem;

  #add-adshop-filter-row {
    display: none;
  }

  #adshop-filter-form {
    margin-bottom: 0;
  }

  .adshop-filter-row {}

  border: 1px solid $grey-2;

  button {}

  .adsh-find-btn {}

  .adsh-clear-btn {}

}