/* for shop product page */
body.single-product {
    .product {
        padding: 2rem $g-span;
    }

    .adshop-product-header {
        .info-list {
            background-color: $grey-bg;
            padding: $g-span;
            justify-content: space-between;

            .info-item {
                display: flex;
                width: 30%;
                align-items: center;

                .preview {
                    width: 31%;
                    margin-right: 5%;
                    flex-shrink: 0;
                    border: 2px dashed $grey-1;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .info {
                    width: 67%;

                    p {
                        margin-bottom: 0;

                        &.caption {
                            font-size: 2.18rem;
                            line-height: 2.3rem;
                            text-transform: uppercase;
                        }

                        &.name {
                            font-size: 1.77rem;
                            line-height: 2rem;
                            font-weight: 300;
                            color: $blue-1;
                            max-width: 290px;
                        }
                    }
                }
            }
        }
    }
}

.adshop-template-section {
    background-color: $blue-3;
    padding: 2.75rem;

    svg {
        background-color: #fff;
    }
}

.storefront-full-width-content.single-product div.product .summary {
    margin-top: 2rem;
    margin-bottom: 0;
}

.single-product div.product p.price {
    margin: 0;
}

.summary {
    background-color: $blue-3;
    padding: 2.75rem;
}

.adshop-purchasing-info-block {
    background-color: $blue-3;
    //padding: 2.75rem;
    margin-top: 2rem;

    .adshop-block-content {
        background-color: #fff;
        border: 2px dashed $grey-1;
        padding: 1rem 2.75rem;
    }

    .caption-h4 {
        font-size: 1.87rem;
        line-height: 2rem;
        color: $grey-1;
        text-transform: none;
        font-weight: 600;
    }

    .caption-h5 {
        font-size: 1.56rem;
        line-height: 1.76rem;
        color: $red;
        text-transform: none;
        font-weight: 400;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.45rem;
        color: $grey-1;
        margin-bottom: .5rem;
    }
}

.single-product div.product form.cart .quantity {
    float: none;
}

.single_add_to_cart_button {
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #5a5550 !important;
    background-color: #d2d7db !important;
    width: calc(50% - 26px);

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/ic-dbl-red-arr.svg) right no-repeat transparent;
        position: absolute;
        right: -26px;
        top: 0;
    }
}