/* svg editing section
* version 2
*/

.adshop-template-section{

    &.version-2-0{
        background-color: $blue-3;
        padding: 2.75rem;
        svg{
            background-color: #fff;
        }
        .adsh-editsvg-form{
            display: flex;
            justify-content: space-between;
            .left-side, .right-side{
                width: 48%;
            }
            .right-side{}
        }
        .svg-block{
            text-align: center;
            background-color: $blue-4;
            padding: 1rem;
            margin-top: 0;
            svg{
                margin: 0 auto;
            }
        }
        .adsh-tpl-btn{
            font-size: 1.25rem;
            line-height: 1.25rem;
            padding: 1rem;
            width: 100%;
            color: $grey-1;
            text-align: center;
            margin-bottom: 2rem;
            &:active, &:link, &:visited, &:focus{
                outline: 0 none;
            }
            &.blue-btn{
                background-color: $blue;
                color: #fff;
                text-transform: uppercase;
                font-weight: 400;
                &:hover, &.active{
                    background-color: $blue-2;
                }
            }
            &.white-btn{
                background-color: #fff;
                border: 1px solid $grey-1;
            }
            &.light-blue-btn{
                border: 1px solid $grey-1;
                background-color: $blue-4;
            }
            &.red-btn{
                border: 1px solid $red-1;
                background-color: $red;
                &:hover, &.active{
                    background-color: $red-2;
                }
            }
            &.adsh-update-view-btn{
                margin-top: 0;
                min-height: 3.375rem;
            }
            &.adsh-createqr-btn, &.adsh-createqr-btn, &.adsh-generate-btn, &.adsh-removecode-btn, &.adsh-restore-btn, &.adsh-save-btn, &.adsh-export-btn{
                text-transform: uppercase;
            }
            &.adsh-createqr-btn{
                width: 50%;
            }
            &.adsh-generate-btn, &.adsh-save-btn, &.adsh-export-btn{
                font-weight: 700;
            }
            &.adsh-removecode-btn, &.adsh-restore-btn{
                font-weight: 400;
                color: $red;
            }
            &.adsh-restore-btn, &.adsh-save-btn, &.adsh-export-btn{
                &:hover, &.active{
                    background-color: $blue-1;
                    color: #fff;
                }
            }
        }
        .adsh-texts-controls{
            font-size: 1.25rem;
            line-height: 1.25rem;
            padding: 1rem;
            background-color: $blue;
            color: #fff;
            display: flex;
            justify-content: center;
            padding-top: .5rem;
            padding-bottom: .5rem;
            min-height: 3.375rem;
            a{
                color: #fff;
                display: block;
                font-size: 1.7rem;
                line-height: 1.7rem;
                padding: .26rem .5rem;
                width: 2.3rem;
                border: 1px solid #fff;
                text-align: center;
                margin-left: .4rem;
                margin-right: .4rem;
                &.adsh-bold-control{
                    font-weight: 700;
                }
                &.adsh-italic-control{
                    font-style: italic;
                }
                &.adsh-underline-control{
                    text-decoration: underline;
                }
                &:hover, &.active{
                    background-color: $blue-2;
                }
            }
        }

        .adsh-tpl-label, .adsh-text-description{
            display: block;
            font-size: 1.25rem;
            line-height: 1.45rem;
            font-weight: 300;
            padding: 1rem 0;
            margin: 0;
        }

        .url-block{
            .adsh-tpl-label{
            }
        }
        .adsh-tpl-url-input, .adsh-edit-textarea{
            outline: none;
            box-shadow: none;
            border: 1px solid $grey-1;
            background-color: #fff;
            width: 100%;
            font-size: 1.25rem;
            padding: 1rem;
            color: $grey-1;
            margin-bottom: 2.6rem;
        }
        .adsh-tpl-url-input{
            line-height: 1.25rem;
            font-weight: 600;
        }
        .adsh-edit-textarea{
            line-height: 1.75rem;
            font-weight: 400;
        }
        .ra-wpmu-wrapper{
            &.adshop_v2-template{
                .ra-upload-image-button{
                    margin-top: 0;
                    background-color: #fff;
                    border: 1px solid $grey-1;
                    padding: 2rem 8rem;
                    text-align: center;
                    figure{
                        margin: 0 auto;
                    }
                    &.control{
                        padding: .5rem 2rem;
                        margin-top: 2rem;
                        margin-bottom: 0;
                        background-color: $blue;
                        color: #fff;
                        text-transform: uppercase;
                        border-radius: 1rem;
                        width: 40%;
                        line-height: 1rem;
                        small{
                            display: block;
                            font-style: italic;
                        }
                        &:hover{
                            background-color: $blue-2;
                        }
                    }
                }
            }
        }

    }
}

