/* template inner pages */
body.page-template-template-inner{
    .page-title{
        //background: rgb(79,137,185);
        //background: linear-gradient(90deg, rgba(79,137,185,1) 35%, rgba(84,77,154,1) 60%);
        border-radius: 10px;
        display: block;
        font-size: 2.25rem;
        line-height: 2.45rem;
        font-weight: 600;
        padding: 1.5rem 5rem;
        color: #fff;
        text-transform: uppercase;
        width: 75%;
        min-width: 300px;
        position: relative;
        background: url("../images/shape-1.png") left top no-repeat transparent;
        background-size: 100% 100%;
    }
    .caption-h3{
        font-size: 2.25rem;
        line-height: 2.45rem;
        font-weight: 600;
        color: $grey-1;
    }
}