/* vars */
// $minW: 200px;
$g-span: 7.5rem; // global content left - rigth paddings
$mob-span: 5%; // global content left - rigth paddings for mobiles

$grey-bg: #F3F1EC;
$grey-1: #5A5550;
$grey-2: #d5d4d2;
$grey-3: #d2d7db;
$grey-4: #837f7c;

$blue: #005499;
$blue-1: #6296C0;
$blue-2: #407FB3;
$blue-3: #EBF2F7;
$blue-4: #BED9EA;

$red: #e14141;
$red-1: #722626;
$red-2: #631a1a;

$gt-blue: linear-gradient(90deg, #4f89b9 35%, #544d9a 60%);
$gt-blue-reverse: linear-gradient(-90deg, #4f89b9 35%, #544d9a 60%);
